@use '../shared/styles/utils';
@use '../shared/styles/properties';
@use '../shared/styles/normalize';

// normalize type
body {
	line-height: 1.4;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

a,
button:not([disabled]),
[tabindex]:not([tabindex='-1']) {
	&:focus {
		@include utils.focus();
	}
}

// code-icon {
// 	font-size: inherit;
// }

nav {
	margin-bottom: 1.6rem;
}

h1,
h2,
p {
	margin-top: 0;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	margin-top: 2rem;
	margin-bottom: 0.4rem;
	font-size: 1.4rem;
	font-weight: normal;
}

h4 {
	margin-top: 1rem;
	margin-bottom: 0.4rem;
	font-weight: normal;
}

.checkbox {
	cursor: pointer;
	position: relative;
	text-align: left;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	display: inline-flex;
	align-items: center;
}

input[type='checkbox'] {
	position: relative;
	appearance: none;
	cursor: pointer;
	width: 2rem;
	height: 2rem;

	border: 1px solid var(--vscode-input-border);
	background-color: var(--vscode-checkbox-background);
	border-color: var(--vscode-checkbox-border);
	border-radius: 0.25rem;
	color: var(--vscode-checkbox-foreground);
	outline: none;
	margin-right: 0.5rem;
	vertical-align: middle;
	transition: border-color 0.1s ease-in-out;

	&::after {
		content: '';
		border: 0.2rem solid var(--vscode-checkbox-foreground);
		border-width: 0 0.2rem 0.2rem 0;
		position: absolute;
		top: 0.2rem;
		left: 0.6rem;
		height: 1.2rem;
		width: 0.6rem;

		opacity: 0;
		transform: rotate(0deg);
		transition: 0.2s ease-in-out;
	}

	&:checked {
		background-color: var(--vscode-checkbox-selectBackground);
		border-color: var(--vscode-checkbox-selectBorder);

		&::after {
			opacity: 1;
			transform: rotate(45deg);
		}
	}

	&:hover,
	&:focus {
		background-color: var(--vscode-checkbox-selectBackground);
		border-color: var(--vscode-focusBorder);
	}
}

label {
	vertical-align: middle;
	cursor: pointer;
}

p,
li {
	color: var(--color-foreground--65);
}

.t {
	&-desc {
		font-size: 1.4rem;
		color: var(--color-foreground);
	}

	&-feature {
		font-size: 1.6rem;
		color: var(--color-foreground);
	}
}

gk-card p {
	margin: 0;
}

.video-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	background: no-repeat var(--video-banner-play) 1.2rem center, no-repeat var(--video-banner-bg) left center;
	background-color: var(--gk-card-background);
	background-size: clamp(2.9rem, 8%, 6rem), cover;
	background-blend-mode: normal, overlay;
	padding: 0.4rem 1.2rem;
	color: inherit;
	line-height: 1.2;
	font-size: clamp(var(--vscode-font-size), 4vw, 1.6rem);
	transition: aspect-ratio linear 100ms, background-color linear 100ms, background-position linear 200ms;
	border-radius: 0.4rem;

	@container (min-width: 452px) {
		background-blend-mode: normal, normal;
		background-position: center center, left center;
	}

	&:hover {
		background-color: var(--gk-card-hover-background);
		text-decoration: none;
		color: inherit;
	}

	small {
		color: #8d778d;
	}
}

.welcome {
	padding: var(--gitlens-gutter-width);

	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 1.6rem;
		margin-bottom: 1.6rem;
	}

	&__brand {
		margin: 0;

		small {
			display: inline-block;
			font-size: 1.3rem;
			font-weight: normal;
			color: var(--color-foreground--50);
			transform: translateY(0.3rem);
		}
	}

	&__release {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin: 0;
	}

	&__main {
		// display: flex;
		// flex-direction: column;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content;
		gap: 1.6rem;
	}

	&__section {
		&:first-child {
			margin: 0 3rem;
		}

		& + & {
			// border-top: 1px solid var(--vscode-editorWidget-border);
			padding-top: 0.5rem;
			max-width: 695px;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}

	&__toolbar {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1.6rem;
		justify-content: space-between;

		:last-child {
			flex: none;
		}
	}

	&__illustration {
		max-width: 69.2rem;
		width: 100%;
		height: auto;
	}

	&__plus-cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.6rem;
	}

	&__starting-nav {
		max-width: 69.2rem;
		container-type: inline-size;
		display: grid;
		grid-template-columns: 1fr min-content;
		gap: 0.8rem 2rem;

		> :first-child {
			grid-column: 1 / 2;
			grid-row: 1 / 3;
		}

		> :not(:first-child) {
			white-space: nowrap;
			grid-column: 2 / 3;
		}
	}

	&__views-nav {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0.8rem 2.8rem;
		width: min-content;

		> * {
			white-space: nowrap;
		}

		code-icon {
			margin-right: 0.8rem;
			color: var(--color-foreground--50);
		}
	}

	&__resources-nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 1rem 2rem;

		a {
			font-size: 1.4rem;
			color: inherit;
		}

		code-icon {
			margin-right: 0.8rem;
		}
	}

	@media (min-width: 744px) {
		&__main {
			grid-template-columns: 3fr 2fr;
			grid-template-rows: min-content min-content min-content 1fr;
		}
		&__section {
			grid-column: 1;

			&:nth-child(3) {
				grid-column: 2;
				grid-row: 1 / 5;
				border-top: none;
				padding-top: 0;
			}
		}

		&__plus-cards {
			display: flex;
			flex-direction: column;
		}
	}

	@media (min-width: 880px) {
		&__main {
			grid-template-columns: 4fr 2fr;
		}
	}

	@media (min-width: 1200px) {
		margin: 0 auto;
		max-width: 1200px;
	}
}

.editor {
	border: 0.1rem solid var(--vscode-editorWidget-border);

	&-cursor {
		stroke: var(--vscode-editorCursor-foreground);
	}

	&-window {
		fill: var(--color-background);
	}

	&-git-codelens {
		fill: var(--vscode-editorCodeLens-foreground);

		&.is-disabled {
			opacity: 0;
		}
	}

	&-inline-blame {
		fill: var(--vscode-gitlens-trailingLineForegroundColor);

		&.is-disabled {
			opacity: 0;
		}
	}

	&-function-declaration {
		// fill: var(--vscode-debugView-valueChangedHighlight);
		fill: var(--vscode-symbolIcon-functionForeground);
		// fill: var(--vscode-editorBracketHighlight-foreground1);
	}

	&-function-name {
		// fill: var(--vscode-editorBracketHighlight-foreground1);
		fill: var(--vscode-symbolIcon-colorForeground);
	}

	&-function-argument {
		fill: var(--vscode-symbolIcon-fieldForeground);
	}

	&-function-argument-type {
		fill: var(--vscode-symbolIcon-interfaceForeground);
	}

	&-function-return {
		fill: var(--vscode-debugTokenExpression-name);
	}

	&-line-numbers {
		fill: var(--vscode-editorLineNumber-foreground);
	}

	&-selection {
		fill: var(--vscode-editor-selectionBackground);
	}

	&-gutter-text {
		fill: var(--vscode-symbolIcon-colorForeground);
	}
}

.toolbar {
	fill: var(--vscode-menu-background);

	&-icon {
		fill: var(--vscode-menu-foreground);

		&-inactive {
			opacity: 0.6;
		}
	}
}
