@use '../shared/styles/utils';
@use '../shared/styles/properties';
@use '../shared/styles/normalize';

body {
	line-height: 1.4;
}

// normalize type
h1,
h2,
p {
	margin-top: 0;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	margin-top: 2rem;
	margin-bottom: 0.4rem;
	font-size: 1.4rem;
	font-weight: normal;
}

.t {
	&-desc {
		font-size: 1.6rem;
	}
}

nav {
	margin-bottom: 1.6rem;
}

.welcome {
	padding: var(--gitlens-gutter-width);

	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 1.6rem;
		margin-bottom: 1.6rem;
	}

	&__brand {
		margin: 0;

		small {
			font-size: 1.3rem;
			font-weight: normal;
			color: var(--color-foreground--50);
		}
	}

	&__release {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin: 0;
	}

	&__main {
		// display: flex;
		// flex-direction: column;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content;
		gap: 1.6rem;
	}

	&__section {
		& + & {
			border-top: 1px solid var(--vscode-editorWidget-border);
			padding-top: 1.6rem;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}

	&__toolbar {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 1.6rem;

		:last-child {
			flex: none;
		}
	}

	&__illustration {
		max-width: 69.2rem;
		width: 100%;
		height: auto;
	}

	&__plus-cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.6rem;
	}

	&__views-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0.8rem 2.8rem;
		width: min-content;

		> * {
			white-space: nowrap;
		}
	}

	@media (min-width: 744px) {
		&__main {
			grid-template-columns: 3fr 2fr;
			grid-template-rows: min-content min-content min-content 1fr;
		}
		&__section {
			grid-column: 1;

			&:nth-child(3) {
				grid-column: 2;
				grid-row: 1 / 5;
				border-top: none;
				padding-top: 0;
			}
		}

		&__plus-cards {
			display: flex;
			flex-direction: column;
		}
	}

	@media (min-width: 880px) {
		&__main {
			grid-template-columns: 4fr 2fr;
		}
	}
}

gk-card p {
	margin: 0;
}

.editor {
	border: 0.1rem solid var(--vscode-editorWidget-border);

	&-window {
		fill: var(--color-background);
	}

	&-git-codelens {
		fill: var(--vscode-editorCodeLens-foreground);
	}

	&-inline-blame {
		fill: var(--vscode-gitlens-trailingLineForegroundColor);
	}

	&-function-declaration {
		// fill: var(--vscode-debugView-valueChangedHighlight);
		fill: var(--vscode-symbolIcon-functionForeground);
		// fill: var(--vscode-editorBracketHighlight-foreground1);
	}

	&-function-name {
		// fill: var(--vscode-editorBracketHighlight-foreground1);
		fill: var(--vscode-symbolIcon-colorForeground);
	}

	&-function-argument {
		fill: var(--vscode-symbolIcon-fieldForeground);
	}

	&-function-argument-type {
		fill: var(--vscode-symbolIcon-interfaceForeground);
	}

	&-function-return {
		fill: var(--vscode-debugTokenExpression-name);
	}

	&-line-numbers {
		fill: var(--vscode-editorLineNumber-foreground);
	}

	&-selection {
		fill: var(--vscode-editor-selectionBackground);
	}

	&-gutter-text {
		fill: var(--vscode-symbolIcon-colorForeground);
	}
}

.toolbar {
	fill: var(--vscode-menu-background);

	&-icon {
		fill: var(--vscode-menu-foreground);

		&-inactive {
			opacity: 0.6;
		}
	}
}
